.faq {
  padding: calc(80px / 2) 0 80px;
}
.faq-title {
  font-size: 40px;
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--font-family-color);
  line-height: 1.1;
}
.faq-title > span {
  background-color: var(--bg-rgba);
}
.faq-root {
  margin-top: 32px;
}
.faq-item {
  border-radius: 15px;
  border: var(--accent-border);
  padding: 24px 16px;
}
.faq-item:not(:last-child) {
  margin-bottom: 16px;
}
.faq-question {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--animation);
}
.faq-question-text {
  max-width: 189px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--font-family-color);
}
.faq-icon {
  transition: var(--animation);
  font-size: 1.5rem;
  line-height: 1;
}
.faq-question[aria-expanded='true'] .faq-icon {
  transform: rotate(180deg);
}
.faq-answer {
  height: 0;
  overflow: hidden;
  transition: var(--animation);
  position: relative;
}
.faq-answer-content {
  margin-top: 24px;
  font-size: 16px;
  line-height: 169%;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: var(--animation);
}
.faq-answer.open .faq-answer-content {
  position: relative;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .faq {
    padding: calc(120px / 2) 0 120px;
  }
  .faq-title {
    font-size: 56px;
    line-height: 1.17857;
    max-width: 509px;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--font-family-color);
  }
  .faq-root {
    margin-top: 48px;
  }
  .faq-item {
    border-radius: 20px;
    border: var(--accent-border);
    padding: 33px 40px;
  }
  .faq-question-text {
    max-width: 469px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .faq {
    padding: calc(140px / 2) 0 140px 60px;
  }
  .faq-title {
    font-size: 56px;
    line-height: 1.17857;
    max-width: 483px;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--font-family-color);
  }
  .faq-root {
    margin-top: 60px;
    padding: 0 102px;
  }
}
