.hero {
    background-color: var(--bg-rgba);
    padding: 32px 0 16px;
}
.hero-title {
    max-width: 280px;
    margin-bottom: 24px;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: var(--font-family-color);
}
.hero-desc {
    max-width: 280px;
    margin-bottom: 32px;

    font-size: 18px;
    line-height: 167%;
}
.hero-btn {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 87%;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #fff;
    background-color: var(--button-default);

    border: none;
    border-radius: 60px;

    max-width: 280px;
    padding: 20px 75px;

    transition: all 0.3s ease;
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--button-hover);
}
.hero-btn:active {
    background-color: var(--button-pressed);
}
.hero-btn:disabled {
    background-color: var(--button-disabled);
    cursor: not-allowed;
}
.hero-image {
    display: block;
    max-width: 100%;
    margin-top: 32px;
}
