.starts {
    padding: 80px 0;
}
.starts-list {
    position: relative;
}
.starts-item {
    border: var(--accent-border);
    border-radius: 30px;
    padding: 24px;
    max-width: 280px;

    transition: all 0.3s ease;
}
.starts-item:not(:last-child) {
    margin-bottom: 24px;
}
.starts-item-id {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    color: var(--button-default);

    margin-bottom: 8px;
}
.starts-item:hover {
    border-color: var(--button-hover);
}
.starts-item:hover .starts-item-id {
    color: var(--button-hover);
}
.starts-item-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: var(--font-family-color);

    margin-bottom: 24px;
}
.starts-item-desc {
    font-size: 18px;
    line-height: 167%;
}
@media screen and (min-width: 768px) {
    .starts {
        padding: 120px 0;
    }
    .starts-list {
        max-height: 845px;
    }
    .starts-item {
        max-width: calc(329px - 48px - 20px);
        padding: 32px;
    }
    .starts-item:nth-child(2) {
        transform: translateY(-64px);
    }
    .starts-item:nth-child(3) {
        transform: translateY(calc(-64px * 2));
    }
    .starts-item:nth-child(4) {
        transform: translateY(calc(-64px * 3));
    }
    .starts-item:not(:last-child) {
        margin-bottom: 0;
    }
    .item-even {
        align-self: flex-start;
        margin-right: auto;
    }
    .item-odd {
        align-self: flex-end;
        margin-left: auto;
    }
}
