body {
  font-family: var(--second-family);
  background-color: var(--white);
  font-family: var(--second-family);
  color: var(--second-family-color);
}

.invisible-absolute {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
/* 
.visibility-hidden {
  visibility: hidden;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 320px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.logo {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 15px;
  line-height: 107%;
  color: var(--font-family-color);
}
.faq-title,
.review-title,
.starts-title {
  max-width: 260px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  color: var(--font-family-color);
  margin-bottom: 32px;
}
.faq-title > span,
.review-title > span,
.starts-title > span {
  background-color: var(--bg-rgba);
} */
.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: calc(320px - 20px - 20px);
}
.main {
  background-color: var(--bg-rgba);
}
.img-box > img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
    margin: 0 auto;
    max-width: calc(768px - 40px - 40px);
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 60px;
    margin: 0 auto;
    max-width: calc(1440px - 60px - 60px);
  }
}
