body {
    font-family: var(--second-family);
    background-color: var(--white);
    font-family: var(--second-family);
    color: var(--second-family-color);
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 320px;
}
.logo {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 15px;
    line-height: 107%;
    color: var(--font-family-color);
}
.faq-title,
.review-title,
.starts-title {
    max-width: 260px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: var(--font-family-color);
    margin-bottom: 32px;
}
.faq-title > span,
.review-title > span,
.starts-title > span {
    background-color: var(--bg-rgba);
}
