@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('/src/assets/fonts/museo-sans-cyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('/src/assets/fonts/museo-sans-cyrl-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

:root {
    --font-family: 'Museo Sans Cyrl', sans-serif;
    --second-family: 'Montserrat', sans-serif;
    --font-family-color: #333;
    --second-family-color: #4f4f4f;
    --form-color: #828282;
    --button-default: #4f62f6;
    --button-hover: #7181fc;
    --button-pressed: #354bf4;
    --button-disabled: #e0e0e0;
    --input-default: 1px solid #e0e0e0;
    --input-focus: 1px solid #828282;
    --input-data: 1px solid #0eac00;
    --input-error: 1px solid #eb5757;
    --white: #ffffff;
    --bg: #6248ff;
    --bg-opacity: 0.1;
    --bg-rgba: rgba(98, 72, 255, 0.1);
    --accent-border: 2px solid #4f62f6;
}

body {
    font-family: var(--second-family);
    background-color: var(--white);
    font-family: var(--second-family);
    color: var(--second-family-color);
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 320px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
}
.logo {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 15px;
    line-height: 107%;
    color: var(--font-family-color);
}
.btn-menu {
    width: 24px;
    height: 24px;
    padding: 0;
    color: var(--font-family-color);
    border: none;
    background-color: var(--white);
}
/* Header end */

/* Main */
/* Hero */
.hero {
    background-color: var(--bg-rgba);
    padding: 32px 0 16px;
}
.hero-title {
    max-width: 280px;
    margin-bottom: 24px;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: var(--font-family-color);
}
.hero-desc {
    max-width: 280px;
    margin-bottom: 32px;

    font-size: 18px;
    line-height: 167%;
}
.hero-btn {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 87%;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #fff;
    background-color: var(--button-default);

    border: none;
    border-radius: 60px;

    max-width: 280px;
    padding: 20px 75px;

    transition: all 0.3s ease;
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--button-hover);
}
.hero-btn:active {
    background-color: var(--button-pressed);
}
.hero-btn:disabled {
    background-color: var(--button-disabled);
    cursor: not-allowed;
}
.hero-image {
    display: block;
    max-width: 100%;
    margin-top: 32px;
}
/* Hero end*/

/* Starts */
.starts {
    padding: 80px 0;
}
.starts-title {
    max-width: 260px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: var(--font-family-color);
    margin-bottom: 32px;
}
.starts-title > span {
    background-color: var(--bg-rgba);
}
.starts-item {
    border: var(--accent-border);
    border-radius: 30px;
    padding: 24px;
    max-width: 280px;

    transition: all 0.3s ease;
}
.starts-item:not(:last-child) {
    margin-bottom: 24px;
}
.starts-item-id {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    color: var(--button-default);

    margin-bottom: 8px;
}
.starts-item:hover {
    border-color: var(--button-hover);
}
.starts-item:hover .starts-item-id {
    color: var(--button-hover);
}
.starts-item-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: var(--font-family-color);

    margin-bottom: 24px;
}
.starts-item-desc {
    font-size: 18px;
    line-height: 167%;
}
