.header {
  padding: 28px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-nav {
  display: flex;
}
.logo > .header-logo {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 15px;
  line-height: 1.06667;
  color: var(--font-family-color);
  transition: var(--animation);
}
.nav-list {
  display: none;
}
.second-nav {
  display: flex;
}
.nav-select {
  display: none;
}
.nav-signin {
  display: none;
}
.btn-menu {
  width: 24px;
  height: 24px;
  transition: var(--animation);
}
.btn-menu:hover,
.btn-menu:focus {
  color: var(--button-hover);
}
.btn-menu:active {
  color: var(--button-pressed);
}
.btn-menu:disabled {
  color: var(--button-disabled);
}
.logo > .header-logo:hover,
.logo > .header-logo:focus,
.nav-item > a:hover,
.nav-item > a:focus {
  color: var(--button-hover);
}
.logo > .header-logo:active,
.nav-item > a:active {
  color: var(--button-pressed);
}
.logo > .header-logo:disabled,
.nav-item > a:disabled {
  color: var(--button-disabled);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .first-nav {
    display: none;
  }
  .second-nav {
    display: flex;
    align-items: center;
    gap: 48px;
  }
  .nav-select {
    display: none;
  }
  .nav-signin {
    display: block;
    border-radius: 60px;
    padding: 13px 24px;
    background-color: var(--button-default);
    color: var(--white);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    transition: var(--animation);
  }
  .btn-menu {
    width: 24px;
    height: 24px;
    transition: var(--animation);
  }
  .btn-menu:hover,
  .btn-menu:focus {
    color: var(--button-hover);
  }
  .btn-menu:active {
    color: var(--button-pressed);
  }
  .btn-menu:disabled {
    color: var(--button-disabled);
  }
  .nav-signin:hover,
  .nav-signin:focus {
    background-color: var(--button-hover);
  }
  .nav-signin:active {
    background-color: var(--button-pressed);
  }
  .nav-signin:disabled {
    background-color: var(--button-disabled);
  }
}
@media screen and (min-width: 1440px) {
  .header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .first-nav {
    display: flex;
    justify-content: space-between;
  }
  .logo > .header-logo {
    margin-left: 60px;
    margin-right: 57px;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 15px;
    line-height: 1.06667;
    color: var(--font-family-color);
    transition: var(--animation);
  }
  .nav-list {
    display: flex;
    gap: 32px;
  }
  .nav-item > a {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 1.06667;
    color: var(--font-family-color);
    transition: var(--animation);
  }
  .second-nav {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .nav-select {
    padding: 10px 16px;
  }
  .nav-signin {
    border-radius: 60px;
    padding: 13px 24px;
    background-color: var(--button-default);
    color: var(--white);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    transition: var(--animation);
  }
  .btn-menu {
    display: none;
  }

  .logo > .header-logo:hover,
  .logo > .header-logo:focus,
  .nav-item > a:hover,
  .nav-item > a:focus {
    color: var(--button-hover);
  }
  .logo > .header-logo:active,
  .nav-item > a:active {
    color: var(--button-pressed);
  }
  .logo > .header-logo:disabled,
  .nav-item > a:disabled {
    color: var(--button-disabled);
  }
  .nav-signin:hover,
  .nav-signin:focus {
    background-color: var(--button-hover);
  }
  .nav-signin:active {
    background-color: var(--button-pressed);
  }
  .nav-signin:disabled {
    background-color: var(--button-disabled);
  }
}
